<template name="SideNav">
	<nav class="side-nav">
		<ul>
			<li><a href="/basic-info"><i class="fa fa-home"></i>Basic Info</a></li>
			<li><a href="/admin-menu"><i class="fa fa-cutlery"></i>Appetizers</a></li>
			<li><a href="/admin-menu"><i class="fa fa-cutlery"></i>Breakfast</a></li>
			<li><a href="/admin-menu"><i class="fa fa-cutlery"></i>Lunch/Dinner</a></li>
			<li><a href="/admin-menu"><i class="fa fa-apple"></i>Dessert</a></li>
			<li><a href="/admin-menu"><i class="fa fa-glass"></i>From the Bar</a></li>
			<li><a href="/support"><i class="fa fa-life-ring"></i>Support</a></li>
		</ul>
	</nav>
</template>